[2012-04-18 04:47] ttddyy opened #1 "add README.md"
write README.md for github

[2012-04-18 04:50] ttddyy opened #2 "update google project pages"
update these google code pages to link to github
- source page
- issues page

[2012-04-18 04:53] ttddyy opened #3 "fix log level typo"
Log level TRAC should be TRACE

[2012-04-19 00:24] #2 closed, assigned to ttddyy

[2012-04-19 00:27] #3 closed, assigned to ttddyy

[2012-04-20 23:43] #1 closed, assigned to ttddyy

[2013-01-14 03:16] ttddyy opened #4 "ability to transform the query statement"
provide an interceptor that can transform the query statement.

[2013-01-15 21:56] ttddyy opened #5 "convert JdbcProxyFactory to strategy pattern"
Currently, JdbcProxyFactory is a static util class using jdk proxies.
convert this to use strategy pattern, so that user can inject different means to create proxies.

[2013-01-17 04:18] #5 closed, assigned to ttddyy

[2013-01-17 19:08] ttddyy opened #6 "make QueryCount logging injectable"
Currently, logging the QueryCounter is hardcoded.
Convert it to injectable, so that user can modify the logging message format.

_Related Classes:_
- CommonsLogUtils
- CommonsQueryCountLoggingFilter
- CommonsQueryCountLoggingHandlerInterceptor
- CommonsQueryCountLoggingRequestListener
- SLF4JLogUtils
- SLF4JQueryCountLoggingFilter
- SLF4JQueryCountLoggingHandlerInterceptor
- SLF4JQueryCountLogging

[2013-01-18 01:17] #6 closed, assigned to ttddyy

[2013-01-18 21:53] ttddyy opened #7 "ability to transform the query parameters"
add an interceptor that can modify parameters

[2013-01-22 21:23] #4 closed, assigned to ttddyy

[2013-02-12 23:12] #7 closed, assigned to ttddyy

[2013-10-30 18:38] jbarrus opened #8 "more documentation on JNDI usage"
I'm looking for a little more documentation on JNDI usage.  I would like to be able to use this in the java webapp but I can't really figure out how to use it.  Can you provide more details?

[2014-07-04 20:49] vladmihalcea opened #9 "PreparedStatementProxyLogic should log only current batch queries"
I have a Hibernate unit test you can find it [here](https://github.com/vladmihalcea/hibernate-master-class/blob/master/src/test/java/com/vladmihalcea/hibernate/masterclass/laboratory/idgenerator/IdentityVsSequenceIdentifierTest.java).

The test uses a JDBC batch size of and I'm inserting 5 entities and I get the following log:

[code]

So instead of logging the current batch queries, all queries a

[2014-07-05 05:36] #9 closed, assigned to nobody

[2015-03-20 06:02] ttddyy opened #10 "support batch size"
metric for batch size

[2015-03-20 06:03] ttddyy opened #11 "add statement type to ExecutionInfo"
add variable to ExecutionInfo
- Statement
- PreparedStatement
- CallableStatement

Also, as it to logging

[2015-03-20 06:04] ttddyy opened #12 "add isBatch to ExecutionInfo"
add information whether it was batch exec or not
also add it to logging

[2015-03-20 06:05] ttddyy opened #13 "add System.out option"
logger to write out to System.out

[2015-03-20 06:05] ttddyy opened #14 "support json output"

[2015-03-20 06:06] ttddyy opened #15 "support jdbc 4.2 (java8)"

[2015-03-20 06:07] ttddyy opened #16 "migrate from google code"
https://code.google.com/p/datasource-proxy/

[2015-03-21 07:00] #13 closed

[2015-04-16 23:20] #14 closed

[2015-04-16 23:20] #15 closed

[2015-04-16 23:20] #11 closed

[2015-04-16 23:20] #12 closed

[2015-04-16 23:20] #10 closed

[2015-04-23 11:02] yeomanLearner opened #17 "Negative values shown for parameter with null values"
For a CallableStatement if the null parameter is passed then the value shown in the logs is negative. mostly "-5".

[2015-04-23 17:45] ttddyy commented on #17
Hi @yeomanLearner
Thanks for the bug report.

I think the reason is the method signature for `setNull` is:
[code]

Currently, datasource-proxy uses second argument for all `set~` methods as parameter values.
In this case `sqlType` is the second argument. Thus, most likely "-5” is coming from `sqlType` specified when `setNull` is called. (it seems `Types.BIGINT` has value `-5`).

Let me think about

[2015-04-23 18:24] ttddyy commented on #8
Hi @jbarrus

Finally, I have updated the support for JNDI.
I wrote a new JNDI support class `ProxyDataSourceObjectFactory` and now available in version 1.3.

Here is configuration:
https://github.com/ttddyy/datasource-proxy/wiki/Configuration#jndi

Also, I put example project using JNDI datasource here:
https://github.com/ttddyy/datasource-proxy-examples

Please take a look,

Thank you

[2015-04-23 18:24] #8 closed

[2015-04-24 13:24] shahamit commented on #17
Looking into the source code, it seems to the parameters map in [PreparedStatementProxyLogic class] (https://github.com/ttddyy/datasource-proxy/blob/master/src/main/java/net/ttddyy/dsproxy/proxy/PreparedStatementProxyLogic.java#L101) is being used for two reasons
1. Method invocation
2. [Logging parameters] (https://github.com/ttddyy/datasource-proxy/blob/master/src/main/java/net/ttddyy/dsproxy/pr

[2015-04-24 22:38] ttddyy commented on #17
Hi @shahamit

Thanks for checking the code.

Yes, that's correct.

Yes, I think it's a great idea.

The current code for treating parameters are not so clean especially using many maps and lists...

Ideally, the logic of how to use query-args needs to be delayed until when it writes logs in `DefaultQueryLogEntryCreator` instead of in `PreparedStatementProxyLogic`.
Currently `QueryInfo` only holds

[2015-04-25 03:16] shahamit commented on #17
Yes, sounds great. I look forward for v1.3.1 and will integrate it as soon as it is available. We are planning to use this library in production for enabling query logging at runtime.

Eagerly waiting for the quick fix :)

[2015-04-25 03:46] shahamit opened #18 "Easy to remember logger name"
We are planning to integrate this library in our application with initial goal of enabling query logging at runtime in production environments. So whenever developers want to see what queries are executed, what is its execution time etc, we go to jconsole and set the log level to debug. Later turn off when done.
Right now the logger name is the class name "net.ttddyy.dsproxy.listener.SLF4JQueryLog

[2015-04-25 04:02] shahamit opened #19 "Detecting static and prepared statements"
We were thinking if this library could help us to get statistics on how many static statements vs prepared statements are executed by the software (like the query count statistics). As prepared statements give a good performance boost to the database server (hard vs soft parsing in oracle) it would be very helpful if a query execution listener could detect whether the underlying query is a static

[2015-04-26 07:34] ttddyy commented on #19
Hi @shahamit

Is this about detecting query execution between `java.sql.Statement` vs `java.sql.PreparedStatement`?
If so, now(v1.3) `ExecutionInfo` contains `statementType` which indicates whether it was an invocation of statement, prepared statement, or callable statement.
I think that can be used to update your statistics based on type.
If you use the query count statistics, the `QueryCount` al

[2015-04-26 07:41] ttddyy commented on #18
I think it's a good idea to make logger name configurable.
Currently the logger is defined as static. In order to allow user to specify logger name, it needs to be instance variable. Based on the usecase and nature of library, I think converting from static to instance variable should be fine.
I'll work on to make logger name configurable.

[2015-04-27 12:35] shahamit commented on #17
We tried the above logic. It worked for input parameters but didn't work for output parameters. Looking at the code, it seems tricky to capture the returned values of the output parameters in case of a stored procedure call.

What are your thoughts?

[2015-04-27 14:20] shahamit commented on #19
No, it won't be a check between between java.sql.Statement vs java.sql.PreparedStatement. In the example that I mentioned earlier

[code]
This would be a PreparedStatement but the emp_id parameter is hard coded. So its not a PreparedStatement practically.

[2015-04-27 21:53] ttddyy commented on #17
Currently, `getXxx` for retrieving returned value from `CallableStatement` is not supported.
To solve the issue, I can modify `ExecuteInfo` to hold original statement(Statement, PreparedStatement, CallableStatement). So that, output parameters can be retrieved from `ExecutionInfo` in `QueryExecutionListener#afterQuery`. (there may be some db implementation limitation to retrieve results multiple t

[2015-04-28 03:02] jbarrus commented on #8
Awesome, thanks!

[2015-04-28 06:20] #17 closed

[2015-04-28 06:20] #18 closed

[2015-04-28 06:41] ttddyy commented on #19
I’m not sure about the definition of the **static statement**.
So, when there is a hardcoded parameter(“key=value”) in where clause, it is a static statement regardless of executed as `PreparedStatement`??

*sample1:*
[code]
- static statement since it’s `Statement`

*sample2:*
[code]
- static statement because there is no parameters even though it is `PreparedStatement` ??

*sample3:*
[code]
- st

[2015-04-29 21:08] ttddyy commented on #17
I changed `ExecuteInfo` to hold "statement/prepared/callable" in ef191172583d74281839df7d8eba280e73dabaac.

I'm thinking to release v1.3.1 end of this week.
Let me know if you have something else wants to be added.

[2015-04-30 05:27] shahamit commented on #19
Yes, your assumption is right. Is it possible to distinguish between these static and prepared statements in the code?

[2015-04-30 05:33] shahamit commented on #17
Looks good. Based on your suggestions above we are trying to see if output parameter values could be logged. It seems there are quite a number of changes in various classes.

In case it works, it would be great to have it in the library code, but as you said there might be some db implementation limitation to retrieve results multiple times.
I didn't spend time in understanding the current code de

[2015-04-30 18:54] ttddyy commented on #19
It's kinda workaround check but how about this?

[code]

[2015-05-01 00:36] ttddyy commented on #17
In current implementation(v1.3 or 1.3.1), listener(`ExecutionInfo`) cannot know whether params are for input or output.
If you can get to know which parameters are for outputs based on query, parameter name, or something else, you can retrieve output parameters.
For example, if your output parameter names are always start with "output", then you can filter those names from `QueryInfo#getQueryArgsL

[2015-05-01 03:36] shahamit commented on #19
This wouldn't catch "sample 3" from your initial reply which is the main problem. It would mark sample 3 as a Prepared Statement when it is not completely a Prepared Statement

[2015-05-01 07:17] ttddyy commented on #19
ah, you're right.
hmm, then i think it needs to parse the query to find hardcoded "key=value" unless oracle jdbc driver has a way to say it's a static query or not...

[2015-05-05 05:17] shahamit commented on #17
We tried out the implementation and here are the points we noticed
1. As you said in your last comment, yes we would need to distinguish between input and output parameters, but there is a catch. We would need to further distinguish between output parameters that are registered by index vs those that are registered by name. ```registerOutParameter``` method is overloaded. While logging, we need to

[2015-05-06 22:23] ttddyy commented on #17
Yes, `registerOutParameter` has both `String parameterName` and `int parameterIndex`.
I'm planning to update `QueryInfo` to hold list of `ParameterSetOperation` which contains `java.lang.reflect.Method` and args used for setting parameters. From `Method`, it can check the parameter types of the arguments, so that you can distinguish `int` or `String`. Or, you can use method args in conjunction wit

[2015-05-07 09:47] shahamit commented on #17
Your plan sounds interesting.

About logging output parameters, now that we see it working I was looking how to integrate it with rest of the code. As you said it would have to be configurable. I thought about implementing it as part of the listener but that seems to lead to a lot of code duplication. The listener would be configured only when output parameters are to be logged since it might just

[2015-05-08 06:00] ttddyy commented on #17
Great to hear that logging output parameters is working!!

Listener plugin sounds to be a little bit over engineering for me.
Since `QueryLogEntryCreator` is constructing the log entry string, can it be another implementation extending the default one, and inject it to listener?

[2015-05-08 06:29] shahamit commented on #17
I agree that listener plugin would be over engineering but creating another implementation of ```QueryLogEntryCreator``` would also mean duplicating a lot of code that logs other details - name, query, execution time, input parameter values etc, right?

[2015-05-08 07:24] ttddyy commented on #17
yeah, ideally the default impl can be more extendable. but if it is appending new output, can it be something like:
[code]

[2015-05-08 07:36] shahamit commented on #17
Yeah, we can work out this way too. Ideal would be to embed output params inside the "Params:[]" but this is also not bad.

[2015-05-24 14:37] shahamit commented on #17
Hey, we have tried out the changes we spoke in this thread and they work as expected. When do you plan to incorporate them in the library so that don't end up modifying library code?
There are only a couple of changes needed
1. Separating input and output parmeter list in ```PreparedStatementProxyLogic```
2. Removing the code to log output parameter name with type which was added recently in v3.1.

[2015-06-03 23:31] ttddyy commented on #17
Hi, I finally back from my long vacation.
Fighting with jet lag and catching up my regular work, but will find some time and check up the pull request.
Once it is merged, I'll release v1.3.2.

Thanks,

[2015-06-29 17:34] ttddyy commented on #17
Hi @shahamit, @parikshitN

Based on the output parameter pull-request, I published v1.3.2 which contains `CommonsOracleOutputParameterLoggingListener` (renamed a bit from pull request).
Now maven central has synced, so you can download and don’t need to maintain patched version.

Thanks for the contribution!!

[2015-08-26 05:27] #16 closed

[2015-11-14 13:02] vladmihalcea opened #21 "Support for custom parameter formatter"
The parameter formatting has changed recently, so now it is displayed:

    Params:[(1=1,2=foo),(1=2,2=bar)

Probably it is better to define an extension point, so the client can customize the formatting. For me it is much easier to read it like this:

    Params: (1,foo),(2,bar)

I would drop both the square brackets and the indexes, which clutter the output.

[2015-11-15 08:35] ttddyy commented on #21
I updated `DefaultQueryLogEntryCreator` to allow subclasses to modify part of log entry message.

To much with your output, the configuration is something like this:
[code]

It's not pretty especially with parameters.
I'll think about better solution for next major version up. But for now, it should work for your case.

I released v1.3.3 with this change.  It should be available within 24hours in

[2015-11-15 08:35] #21 closed

[2015-11-15 08:40] ttddyy opened #22 "clean up how to format log entry, especially for parameters"
Currently, parameters are logged as:
`Params:[(1=1,2=foo),(1=2,2=bar)]`

for `PreparedStatement`, it is easier to read such like:
`Params: (1,foo),(2,bar)`

Also, need to handle `setNull` and `registerOutParameter` nicely.

[2015-11-15 08:40] ttddyy commented on #21
https://github.com/ttddyy/datasource-proxy/issues/22

[2015-11-15 09:16] vladmihalcea commented on #21
Thanks for this fix. I will update to the new version and add the custom formatter.

[2015-11-15 12:52] vladmihalcea commented on #21
I changed the formatter to this:

    QueryLogEntryCreator myLogEntryCreator= new DefaultQueryLogEntryCreator(){
        @Override
        protected void writeParamsEntry(StringBuilder sb, ExecutionInfo execInfo, List<QueryInfo> queryInfoList) {
            sb.append("Params:[");
            for (QueryInfo queryInfo : queryInfoList) {
                boolean firstArg = true;
                for (M

[2016-10-12 05:32] ttddyy commented on #22
fixed in 1.4-SNAPSHOT

[2016-10-12 05:32] #22 closed

[2016-10-26 20:54] theangrydev opened #24 "Consuming ResultSet more than once"
Inside `QueryExecutionListener.afterQuery`, we have access to the `ExecutionInfo.getResult()`. Sometimes, this is a `ResultSet`. However, if you consume the `ResultSet` in the listener (e.g. to log the query results), then the real application usage of the `ResultSet` will fail because the `ResultSet` cannot be consumed more than once.

Some JDBC drivers implement scrollable result sets, so with t

[2016-10-28 08:30] ttddyy commented on #24
Hi @theangrydev

Thanks for the proposal. I checked your implementation and I like the idea!!
This would be a good alternative strategy for `JdbcProxyFactory`.

Please create a pull request and I'll be happy to merge it.

Thanks a lot,

[2016-12-07 14:39] vokinpirks opened #26 "Listeners, ExecutionInfo reference consistency between before and after calls"
Hello!
Thx for this very helpful library.

I tried to implement some simple hanging queries detecting mechanism using listener, based on ConcurrentHashMap<ExecutionInfo, Long> containing currently executing queries where values are just query execution start time.
In beforeQuery method I register ExecutionInfo and query's execution start time and then in afterQuery I  try to deregister it. But in

[2016-12-10 17:53] ttddyy commented on #26
Hi @vokinpirks
Thanks for the suggestion.
I think your point is reasonable.
I'll update to create only single instance of `ExecutionInfo` and pass it to both `before` & `after` methods.

[2016-12-11 16:42] ttddyy commented on #26
done in 4cf7e19

[2016-12-11 16:42] #26 closed

[2016-12-11 16:44] ttddyy commented on #24
merged via ed6318f

Thanks for PR!!

[2016-12-11 16:44] #24 closed

[2016-12-20 07:22] ttddyy commented on #26
I have released datasource-proxy 1.4 and this change is included.

[2016-12-20 07:23] ttddyy commented on #24
I have released datasource-proxy 1.4 and this feature is included.

[2016-12-20 08:22] vokinpirks commented on #26
Thank you very musch!

[2016-12-27 23:01] ttddyy commented on #21
FYI: In v1.4, I have changed *NOT* to include param index in log for prepared statement.
Also, listener classes have moved to `logging` sub package(`net.ttddyy.dsproxy.listener.logging`).

https://github.com/ttddyy/datasource-proxy/blob/master/CHANGELOG.md#14

[2016-12-28 12:26] vladmihalcea commented on #21
Thanks for the tip

[2017-02-03 19:05] rajadilipkolli opened #29 "Examples not working with springboot 1.5.1"
This https://github.com/ttddyy/datasource-proxy-examples/tree/master/spring-javaconfig-example
example is not working with spring-boot-1.5.1

[2017-02-03 23:46] ttddyy commented on #29
I have upgraded spring-boot to v1.5.1.

https://github.com/ttddyy/datasource-proxy-examples/commit/4bb969c87f9e3e27be6c7b41107806d0f629d910

It should work now.

[2017-02-03 23:46] #29 closed

[2017-03-14 11:28] nhoughto opened #30 "Not logging or masking parameter values"
I'm trying to run your standard slow query logging thru slf4j but without any parameter values (might be sensitive values). I think the ParameterReplacer is supposed to solve for this scenario but can't see how it's supposed to be used, and there is only a NoOp implementation to work from?

[2017-03-15 04:35] ttddyy commented on #30
Hi @nhoughto,

`ParameterReplacer` is for different use. It is for modifying actual query parameter at query run, so that it can change the data passed to database.

To not to show parameters in logging, you can set a custom `QueryLogEntryCreator` and pass it to slf4j slow query logger.

[code]

[2017-03-15 05:26] nhoughto commented on #30
Perfect, thanks for the example

[2017-03-15 05:26] #30 closed

[2017-03-15 09:57] nhoughto commented on #30
Note for future self: Need to set the level like usual or it defaults to debug level

[code]

[2017-03-17 00:20] nhoughto opened #31 "SlowQueryListener always shows time as 0, QueryLoggingListener shows correct time."
It appears that while using the SlowQueryListener as shown below, the Time property in the logging is always 0. But the time appears to work correctly when using the QueryListener (without threshold specified, logs everything). I've run it a few times to ensure the query are not too quick and are genuinely being shown as 0. I feel like i'm missing something basic..

I'm testing against both H2 and

[2017-03-17 17:44] ttddyy commented on #31
Regular query logging listeners write out query after execution has finished. So, it has time populated.
For slow query loggers, it writes out query when it passed threshold time. For example, if a query takes 10min and threshold time is set to 1min, the slow query logger prints out query when it passed 1 min while query is still running.

Currently, slow query logger is not updating execution tim

[2017-03-18 06:11] nhoughto commented on #31
Ah right so that's what I was missing, the slow query listener just isn't what I thought it was =) make makes more sense than it being a bug.

What I really want is a way of logging queries (and their query time) over a certain threshold. the threshold reduces the verbosity of logging such that I can reasonably run it in prod and generate warnings off it. The slow query listener sounds like that,

[2017-03-18 18:06] ttddyy commented on #31
Ok, so you want to log queries *after* they have finished which includes actual query execution time, only when they exceed threshold time.

In that case, you can use regular query logging listeners extending them to write query only when it took longer than threshold.

[code]

[2017-03-20 00:15] nhoughto commented on #31
Perfect thanks

[2017-03-20 00:15] #31 closed

[2017-04-06 22:25] ttddyy commented on #19
Since the detection of static statement requires analyzing the query, datasource-proxy can be a starting point to trigger such  logic, but is not planning to have the logic itself in datasource-proxy.

Thanks for raising the issue, now I'm closing this.

[2017-04-06 22:25] #19 closed

[2017-04-26 05:04] oodmi opened #32 "typo"
String **foramt** = this.getContentFromReference(reference, "format");

Correct for

[2017-04-27 00:37] #32 closed

[2017-04-27 00:37] ttddyy commented on #32
Thank you, fixed.

[2017-05-04 06:26] binakot commented on #31
I was confused with that too. Good that I checked closed issues.
A hour ago I was ready to submit a new bug. 😄
I think this information should to add in the documentation with this example.

[2017-05-11 19:48] chicagozer opened #34 "logging execution time of slow queries"
The slow query logger appears to be working for me; it triggers once the query passes the configured threshold.

Is there a mechanism by which we can see the elapsed time of just the slow queries?

[2017-05-12 06:25] ttddyy commented on #31
@binakot wrote a wiki page for that.
https://github.com/ttddyy/datasource-proxy/wiki/Logging-slow-queries

[2017-05-12 06:27] ttddyy commented on #34
I wrote a wiki page that contains an example of query logging listener that only logs slow query with elapsed time populated.
https://github.com/ttddyy/datasource-proxy/wiki/Logging-slow-queries

[2017-05-12 06:27] #34 closed

[2017-05-12 11:01] binakot commented on #31
@ttddyy Awesome! Thanks!

[2017-05-16 08:11] carstenartur opened #35 "allow configuration like p6spy"
p6spy allows to configure that database connection like this:
url=jdbc:p6spy:hsqldb:mem:data
driver=com.p6spy.engine.spy.P6SpyDriver

That way I can connect to a hsql database without changing the source just by changing the URL and the driver.
see http://p6spy.readthedocs.io/en/latest/index.html
It would be pretty cool if that would be possible using "datasource-proxy". Currently I cannot use it

[2017-05-18 04:59] ttddyy commented on #35
Thanks for the suggestion.
It sounds good. I'll take a look for how it's been done.

[2017-05-23 15:00] oodmi opened #36 "Typo"
`public class ChainListener
`
[code]
change to
[code]

[2017-05-23 20:51] #36 closed

[2017-05-23 20:52] ttddyy commented on #36
Thanks,
I just fixed typo.

[2017-06-14 18:03] gavlyukovskiy opened #38 "Spring Boot integration"
Hi, I'm writing [spring-boot-starter](https://github.com/gavlyukovskiy/spring-boot-data-source-decorator) for your library (and similar to your) to easily wrap all datasource beans in context into ProxyDataSource if datasource-proxy exists in classpath.

Currently I have implemented [configuration](https://github.com/gavlyukovskiy/spring-boot-data-source-decorator/blob/master/datasource-decorator-

[2017-06-15 22:42] ttddyy commented on #38
Hi @gavlyukovskiy

Great to hear for your spring-boot starter project.

I think it's a great idea to expose them in actuator metrics.

Currently, count information is stored in threadlocal. So that, it is more or less expected to be used for traditional servlet request-response lifecycle.

I don't think this would fit for the metrics usecase in spring-boot.
If I were looking the metrics, I would r

[2017-06-15 23:34] gavlyukovskiy commented on #38
Oh, sorry for not reading documentation of the `DataSourceQueryCountListener`, I thought it is already shows cumulative stats by datasource. If you do it would be nice, of course if you think it is in demand of your users.
Preferably I don't think that grouping by reqeust count gives any meaningful information, say I have 130k selects and 8k inserts, interesting but not more than just interesting.

[2017-06-15 23:41] gavlyukovskiy commented on #38
Also I would create instance of `QueryCount` inside `ProxyDataSource` not by exposing static holder.

[2017-06-18 18:04] ttddyy commented on #38
I updated `DataSourceQueryCountListener` to take a strategy to resolve `QueryCount`.

Default implementation uses thread-local which is same as existing behavior.
In this case, counts are per thread(servlet request-response lifecycle).

I added new strategy `SingleQueryCountHolder` that uses same instance for all threads.
With this strategy, count holds total numbers from all threads.(cumulative s

[2017-06-18 20:45] gavlyukovskiy commented on #38
I've done mostly [the same](https://github.com/gavlyukovskiy/spring-boot-data-source-decorator/commit/f34040ab2b57905300f0c4d7bb7a4cc6d53e4b33) 👍
But I don't know how to do it better - using `ConterService` or create own `PublicMetrics`. I've commited prototype with `CounterService`. But it is not really good, I have to write and inject own strategy to get it working, also I should do increment in

[2017-07-03 20:14] rajadilipkolli opened #39 "adding logSlowQuery in builder is preventing application to close"
adding any variant of logSlowQuery is preventing application to close.

How to reproduce?
Comment(disable line) below line in the sample you can see that application closes once query is printed but not when it is enabled.

https://github.com/rajadilipkolli/POC/blob/master/the-best-way-to-log-jdbc-statements/src/main/java/com/example/TheBestWayToLogJdbcStatementsApplication.java#L76

[2017-07-04 14:36] ttddyy commented on #39
Seems it is because `SlowQueryListener` uses thread executor.
Simply exiting main method will not finish application when there is other threads.

So, simple way is to add `System.exit(0);` at the end of main method.

Or, more spring-boot way:

[code]

Thanks for pointing out.
I will add some documentation about it.

[2017-07-05 02:10] rajadilipkolli commented on #39
How about making threadexecutor threads as demon thread?

[2017-07-05 04:38] ttddyy commented on #39
That's a good idea.
I'll change to use daemon threads.

Thanks!!

[2017-07-06 04:17] #39 closed

[2017-07-06 06:19] rajadilipkolli commented on #39
How to test this snapshot version?

[2017-07-06 10:52] ttddyy commented on #39
snapshot is available at sonatype snapshot repository.

https://github.com/ttddyy/datasource-proxy#snapshot

next version is 1.4.2-SNAPSHOT

[2017-07-14 13:07] rajadilipkolli commented on #39
Can you release a new version ? As this is obvious fix and all applications which want to capture slow-queries will face the same issue.

[2017-07-16 00:55] ttddyy commented on #39
@rajadilipkolli just published v1.4.2
http://repo.maven.apache.org/maven2/net/ttddyy/datasource-proxy/1.4.2/

[2017-08-04 08:54] yangxuqiang1111 opened #40 "spring boot 1.4.2 cannot work"
@bean(name = "skyDataSource")
@primary
public DataSource masterDataSource() {
DruidDataSource dataSource = new DruidDataSource();
dataSource.setDriverClassName(driverClass);
dataSource.setUrl(url);
dataSource.setUsername(user);
dataSource.setPassword(password);
dataSource.setInitialSize(2);
dataSource.setMaxActive(50);
dataSource.setMinIdle(2);
dataSource.setMaxWait(5000L);
DataSource resultDataSo

[2017-08-04 14:02] ttddyy commented on #40
Can you add more detail of what is not working?

I tried with [spring-javaconfig-example](https://github.com/ttddyy/datasource-proxy-examples/tree/master/spring-javaconfig-example) project. changed spring-boot version to 1.4.2.RELEASE and modified bean declaration a bit to workaround bean dependency.
I didn't observe any problem and datasource-proxy 1.4.2 works fine with spring-boot 1.4.2.RELEASE.

[2017-08-14 11:59] ttddyy commented on #40
No detail provided. Closing the issue.

[2017-08-14 11:59] #40 closed

[2017-08-17 09:01] NKU915 opened #41 "No method proxy for hashCode() of class ResultSet"
# Testing environment:
        Spring boot, Spring Data JPA, HikariCP, JDK 1.8.0_144;

# Datasource proxy configuration:
[code]
# Call entry ->  bankRepository.findAll().size()
[code]
# StackTrace
[code]

[2017-08-20 06:27] ttddyy commented on #41
Thanks for reporting.
I'll work on the fix.

Currently `ResultSet` proxy provides repeatable read on the `ResultSet` result.
If you don't need that functionality, you can skip `.jdbcProxyFactory(new ResultSetProxyJdbcProxyFactory())` when you build a proxy `DataSource`. Then proxied `DataSource` will NOT create a proxy for `ResultSet`.

[2017-08-20 07:13] #41 closed

[2017-08-31 05:31] NKU915 commented on #41
I need to proxy ResultSet to show the contents, such as:

[2017-08-31 05:47] NKU915 commented on #41
Thanks for you quick response, I need to proxy ResultSet to print the contents for debugging, such as:

Name:, Connection:2, Time:7, Success:True
Type:Prepared, Batch:False, QuerySize:1, BatchSize:0
[code]

[2017-09-24 11:30] deepakmn opened #43 "Encounter ClassNotFoundException with SLF4JQueryLoggingListener"
I'm using version 1.4.3 of datasource-proxy with Spring 4.3.8 with following configuration:

      <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
	    <constructor-arg ref="hikariConfig" />
	</bean>

	<bean id="proxyDataSource" class="net.ttddyy.dsproxy.support.ProxyDataSource">
		<property name="dataSource" ref="dataSource"/>
	  	<property name="listener"

[2017-09-24 11:55] deepakmn commented on #43
The said class is in logging subpackage of listener. Please correct the documentation.

[2017-09-27 06:28] ttddyy commented on #43
@deepakmn

Thanks for pointing out.
Updating documentation is a long past due item for me...
I just started writing a new documentation with asciidoc, and will make it available online soon.

[2017-11-16 04:54] ttddyy commented on #43
documentation is now available online:
 http://ttddyy.github.io/datasource-proxy/docs/current/user-guide/

Spring xml support is documented here:
http://ttddyy.github.io/datasource-proxy/docs/current/user-guide/#_spring_xml_configuration_support

[2017-11-16 04:54] #43 closed

[2017-11-20 09:20] reda-alaoui opened #44 "Accessing getGeneratedKeys from QueryExecutionListener"
Thank you for this great library !

I am building a custom `QueryExecutionListener` that will trace all INSERT, UPDATE, DELETE queries in a central database audit table. I need to generate one audit row per atomic statement. This means batch statements of 10 will trigger the creation of 10 audit logs.

Everything is working except for the INSERT queries. For them, I want to be able to trace the da

[2017-11-21 07:13] ttddyy commented on #44
Hi @reda-alaoui

Thanks for the PR and detailed explanation about `getGeneratedKeys()`.
I looked at the PR and it makes sence for how it is implemented to support retrieving generated keys.

Can you add some unittests? I'll be happy to merge it.

[2017-11-26 00:25] #44 closed

[2018-01-05 11:40] AKremor opened #47 "Adding Statement.RETURN_GENERATED_KEYS after creation"
Hello,

Thank you for providing this library, and for the recent addition of the `getGeneratedKeys()` proxying.

I would like to retrieve the keys from statements that did not have `RETURN_GENERATED_KEYS` specified by the app code at creation. They use `Statement statement = new Statement(query)`, not `Statement statement = new Statement(query, Statement.RETURN_GENERATED_KEYS)`, as the calling cod

[2018-01-06 04:07] ttddyy commented on #47
Hi @AKremor

I checked the code and currently replacing method call is not available.

These are two different methods(same name but different args):
- `statement.execute("...");`
- `statement.execute("...", RETURN_GENERATED_KEYS);`

However, I have an idea to make it happen; so, let me work on it, and will update here.

[2018-01-06 06:14] AKremor commented on #47
Hi @ttddyy, thanks for your quick response.

If it is not too difficult/requires an intimate knowledge of datasource-proxy, I am happy to try implementing this myself. If so, would you be able to give me some pointers on where to look? No worries if you feel that it is best to tackle this one yourself.

[2018-01-07 23:11] AKremor commented on #47
Hi @ttddyy

It appears to work great based on my initial tests. I have been able to add the method argument to return generated keys to all Statement/PreparedStatement execute and executeUpdate methods.

There is a slight problem I am experiencing, but I may be using the library incorrectly. Is it possible to access generated keys without setting `autoRetrieveGeneratedKeys` on the builder? I find

[2018-01-08 04:40] ttddyy commented on #47
Thanks for feedback.

I think it's a bug. `getGeneratedKeys` should NOT be called for `executeQuery` since it is for select query.
Would be great if you can make a PR for it.
Change would be simple. In `StatementProxyLogic`, there is a if-statement to decide to call `getGeneratedKeys()`. The if-statement condition needs to be changed not to call `getGeneratedKeys` for `executeQuery`.

Another bug

[2018-01-15 08:30] #47 closed

[2018-01-16 15:13] ttddyy commented on #47
@AKremor

I have updated the master with:
- only auto-retrieve generated-keys when it is instructed to generate keys
- auto-retrieval for batch execution(`executeBatch`) is now configurable

Let me know if you find any problem

[2018-01-19 23:35] AKremor commented on #47
@ttddyy Thank you.

I'll try this tomorrow and let you know if there are any issues. Apologies for the wayward PR, and thanks for your assistance.

[2018-01-20 04:36] ttddyy commented on #47
no worries.
I'll prepare the new release once you confirm the current snapshot.

[2018-02-05 17:40] reda-alaoui opened #49 "Incomplete cached resultset in RepeatableReadResultSet after next(), beforeFirst() and next()"
I think we discovered a major bug in RepeatableReadResultSet .

Let be a repeatable ResultSet `1->"foo"`.

Working sequence:
- resultSet.next()
- resultSet.getObject(1) returns "foo"
- resultSet.beforeFirst()
- resultSet.next()
- resultSet.getObject(1) returns "foo", everything is OK

Failing sequence:
- resultSet.next()
- resultSet.beforeFirst()
- resultSet.next()
- resultSet.getObject(1) returns

[2018-02-06 00:40] ttddyy commented on #49
@reda-alaoui Thanks for PR. I will merge the change soon.

I found `RepeatableReadResultSetProxyLogic` needs more refactoring in general. I'll work on that.

Meantime, for temporal workaround, you can create your version of `RepeatableReadResultSetProxyLogicFactory` and `RepeatableReadResultSetProxyLogic`, and specify it in `ProxyDataSourceBuilder` `#proxyResultSet(...)` or `#proxyGeneratedKeys(..

[2018-02-11 22:18] ttddyy commented on #49
Hi @reda-alaoui

I added `CachedRowSetResultSetProxyLogic` (9dd0f48c63fd93b75fd74c8148d8a2288560e35d).
This class uses `CachedRowSet` that provides repeatable readability and scrollability for `ResultSet`.
This may be a much better alternative for `RepeatableReadResultSetProxyLogic` since it doesn't need to manage own cache and current row information.
You may copy the class and play with it in yo

[2018-02-14 06:47] ttddyy commented on #38
I think you've already got metrics sorted out.
I'm closing this issue but feel free to ping me anything you need for datasource-proxy.
I'm happy to update to how users use.

[2018-02-14 06:47] #38 closed

[2018-02-14 06:48] ttddyy commented on #49
Closing for now.
Please feel free to create issues when you find anything that datasource-proxy need.

[2018-02-14 06:48] #49 closed

[2018-02-21 15:12] ntusinski opened #51 "Elapsed time in case of query timeout"
Currently in case of query timeout
QueryExecutionListener.afterQuery(ExecutionInfo execInfo, List<QueryInfo> queryInfoList);
is called, but execInfo.getElapsedTime() is 0.

I think it would make sense for elapsed time to be time that query took before timing out.

As of version 1.4.6 this seems like a simple change in StatementProxyLogic:306 try-catch-finally block:
1. Moving final long beforeTime

[2018-02-22 02:47] ttddyy commented on #51
@ntusinski thanks,
yeah that's a good point!!
will update to populate elapsed time for exceptions as well.

[2018-02-25 04:53] ttddyy commented on #51
Changed to always populate elapsedTime.
Thanks for the feedback.

[2018-02-25 04:53] #51 closed

[2018-02-25 22:52] ttddyy commented on #35
Thanks for the idea.
Currently, I'm not planning to implement datasource-proxy to behave like database driver. (i.e.: to allow configuration via connection string)
Will reconsider when time comes.
Closing for now.

[2018-02-25 22:52] #35 closed

[2018-04-03 09:06] minolia2000 opened #52 "Change ConnectionIdManager interface"
Hello,
Is it possible to change the signature of getId in ConnectionIdManager
from
long getId(Connection connection);
to
String getId(Connection connection);
This will allow for better tracking in some environments while keeping the current behavior for others. Example for such better identification would be the combination of Oracle's SID and serial#

[2018-04-04 06:30] ttddyy commented on #52
Hi @minolia2000

Yeah, I think it's possible to change to String.
On the other hand, about SID and serial number, are they assigned per connection or per datasource?
If they are per datasource, you could use `datasource#name`.

[code]

[2018-04-04 12:45] minolia2000 commented on #52
Hi,
they are related to connection.

[2018-04-12 00:06] ttddyy commented on #52
The change is released as part of 1.4.8

[2018-04-12 00:06] #52 closed

[2018-09-26 10:39] astanovsky opened #54 "Handling getGeneratedKeys call by StatementProxyLogic.performQueryExecutionListener(Method, Object[]) fails"
Hi!

I'm running Spring Boot 1.5.1 with Spring Data Jpa 1.11.0 + Hibernate 5.0.11 + Datasource-Proxy 1.4.9 + Datasource-assert 1.0

I have a JPA entity with `@GeneratedValue(strategy = GenerationType.IDENTITY)` which pushes Hibernate to call getGeneratedKeys in `GetGeneratedKeysDelegate.executeAndExtract(PreparedStatement, SessionImplementor)` which is proxied eventually by `StatementProxyLogic.pe

[2018-09-27 05:09] ttddyy commented on #54
Hi @astanovsky

Thanks for the detailed report.
Glad you have a workaround.

I'm bit booked for next two weeks.
So, I'll take a look after that.

[2018-10-17 13:37] astanovsky commented on #54
Hey,

Have you had a chance to take a look at this problem?

[2018-10-18 03:52] ttddyy commented on #54
Hi @astanovsky,

Looked into the issue.

The root cause is `StatementProxyLogic` invoking `afterQuery()` on listener when `getGeneratedKeys()` is called.
I found same for `getResultSet()`.

For logging, it is based on the same cause.
Currently, it generates empty query log for `getGeneratedKeys()` and `getResultSet()`.

I'll update and fix them soon.

`QueryExecutionFactoryListener` in `datasource

[2018-10-18 09:15] astanovsky commented on #54
Thanks a lot!

[2018-10-18 23:33] ttddyy commented on #54
Fixed the issue and released `1.4.10`.
Please try it out.

[2018-10-18 23:33] #54 closed

[2018-11-08 01:15] adriancole opened #55 "Consider making 2.x Java 6 bytecode"
In the Brave library, we retain core library support for Java 6 bytecode as we still have many applications that use older codebases. In order to do this, we avoid internal dependencies on new types, and we use tools like animal sniffer and retrolambda to help keep programming neat and safe meanwhile. We use techniques to allow use of new apis.. this mainly code internals that need to avoid Java 8

[2018-11-08 07:28] ttddyy commented on #55
oh, I was enjoying java8 stream and functional APIs. ;)
hmmm, let me think about it.
For user's perspective, yeah, it's a good thing to be able to run with old java versions.

[2018-11-08 07:52] adriancole commented on #55
OK let me know if you plan to work on this.. if you have time it would be great as I am trying to help with a long overdue zipkin UI replacement!

[2018-11-15 01:53] ttddyy commented on #55
So, I'm considering 1.6 compatible.

Quick question about retrolambda.
From my understanding, it performs bytecode manipulation but not brings java8 classes, so I need to keep lambda referenced functional interfaces in datasource-proxy.

I am thinking to create a `func` package and copy jdk functional interfaces used in datasource-proxy such as `Function`, `Consumer`, `Supplier`, etc. so that, the

[2018-11-15 02:21] adriancole commented on #55
so retrolambda only about things like multicatch. APIs need to be treated
separately. I recommend animal sniffer.

watch to not do any method overload that accepts later java type. mixing
methods that dont overload in same class is mostly ok except for some tools
that do reflective method scanning.

some tips here
https://cwiki.apache.org/confluence/display/ZIPKIN/Java++Instrumentation+Techniques

[2019-01-10 01:45] ttddyy commented on #55
Mostly done, need to do a bit of testing with Java 1.6.
Changes can be found in this branch: https://github.com/ttddyy/datasource-proxy/tree/master-retrolambda

[2019-01-18 17:58] rdicroce opened #56 "Elapsed time should be measured with System.nanoTime()"
There are several places in the code where elapsed time is measured using System.currentTimeMillis(). This can be dangerous because currentTimeMillis() is based on the system clock, which can change unpredictably. Elapsed time should be measured using System.nanoTime() instead, which is not based on the system clock and therefore does not suffer from that problem.

[2019-01-22 03:13] ttddyy commented on #56
Thanks for the feedback.

That's certainly true. I'll make this configurable.
So that user can choose precision(`System.nanoTime`) vs performance(`System.currentTimeMillis`).

[2019-03-15 17:22] razilevin opened #57 "toString on Proxied Connection throws NullPointerException"
The Spring JDBC data source transaction manager causes the datasource-proxy to throw a NullPointerException when toString is called on the proxied connection.

DataSourceTransactionManager -> Fails here
[code]
[code]

[2019-03-16 06:24] ttddyy commented on #57
Thanks for the bug report.
By quick look, it seems like there is a problem on invoking methods from `Object` such as `toString` or `hashCode` on `JdbcLifecycleEventListener`.
For workaround, instead of `JdbcLifecycleEventListener`, you could use `MethodExecutionListener` and compare the method/class name to trigger own callback method.
I'll take a deeper look soon.

[2019-03-23 19:04] #57 closed

[2019-03-24 07:17] ttddyy commented on #57
I have released `datasource-proxy v1.5.1` which fixes this NPE issue.
Please upgrade to this version.
There should be no API breaking changes from `1.5` to `1.5.1`.

[2019-07-01 19:41] rfelgent commented on #55
what's the status ?

[2019-07-09 18:30] ttddyy commented on #55
Hi @rfelgent

Thanks for the ping.
I haven't spent much time on datasource-proxy for last couple of months unfortunately.
I am aiming to make datasource-proxy 2.x to be java1.6 compatible using retrolambda.

[2019-09-26 13:35] garcimouche opened #58 "transform individual INSERT-UPDATE to batch with listener"
I have a legacy library that is making a lot of insert statements and I would like to batch them. I don't have access to the code library and would like to eventually see if it would be doable to intercept regular prepare statement execution of executeUpdate method and transform it to something I could do batch inserts. I see in the doc that it is possible to transform a method call with the Metho

[2019-09-27 21:02] ttddyy commented on #58
Hi @garcimouche

It's an interesting usecase.
I think there are couple of things to consider.

First is to replace the `executeUpdate()` to `addBatch()`.
This is doable in `MethodExecutionListener#beforeMethod()`. Check the invocation is whether `PreparedStatement#executeUpdate`, then swap to `PreparedStatement#addBatch`.

The one limitation here is the return value of `executeUpdate`. `executeUpd

[2019-09-27 23:34] garcimouche commented on #58
Thank you for taking the time to provide such detailled info. I will let you know when I will go back my project.

[2019-10-03 15:54] AlexByte opened #59 "How to get original DataSource from ProxyDataSource?"
Please add method to get original datasource.

[2019-10-06 22:15] ttddyy commented on #59
oh, hm. It's missing a getter for `DataSource`...

Another way is to use JDBC API to unwrap the datasource.

[code]

[2019-10-09 18:51] garcimouche commented on #58
_If return of executeUpdate is used in your application/library, then I think it will get ClassCastException or NullPointerException trying to convert null(from void of addBatch) to int when assigning the return value._
For information I got a NullPointerException @ com.sun.proxy....executeUpdate. I decompiled the class and the library is using the return statement from executeUpdate. Too bad,

[2019-10-09 18:51] #58 closed

[2019-10-21 09:27] sumitjainn opened #60 "Is pool connection checkout time included in slow query computation ?"
Does query time include the pool checkout time as well while determining slow queries?

I checked the code, it seems it will only calculate time spent in executeQuery, and I assume executeQuery will only be called after getting connection from the poll (since it is required to create the PreparedStatement).

Could you please confirm the behaviour ?

[2019-10-22 00:13] ttddyy commented on #60
Hi @sumitjainn

Short answer is no.
datasource-proxy doesn't have any knowledge of underlying actual `DataSource` and it works on JDBC API.

Yes, the logic gets triggered by query execution (e.g.: `PreparedStatement#executeQuery`).
So, it only use the time that took to execute the query.

The acquiring a connection from pool usually happen at `DataSource#getConnection()` which is not taken into ac

[2019-10-22 00:13] #60 closed

[2019-11-21 12:19] laksharm-gs opened #61 "While creating datasource proxy how to set other interfaces the proxy must implement"
For example: if we want the proxy object implement oracle.ucp.jdbc.PoolDataSource, I do not see a way to pass in additional interfaces to implement so that we can cast to PoolDataSource instead of sql DataSource.

[2019-11-21 17:00] laksharm-gs commented on #61
I see that ProxyDataSourceBuilder.build() is returning ProxyDataSource object instead of invoking JdkJdbcProxyFactory#createDataSoure() to create a new Proxy.ProxyInstance(). Ideally the builder should return proxy instance instead of wrapped ProxyDataSource

[2019-11-21 17:02] laksharm-gs commented on #61
Basically code like this to create proxy:
 return (DataSource) Proxy.newProxyInstance(ProxyJdbcObject.class.getClassLoader(),
            new Class[]{ProxyJdbcObject.class, DataSource.class, PoolDataSource.class},
            new DataSourceInvocationHandler(dataSource, proxyConfig));
will let us cast to PoolDataSource interface even though proxy is casted to superInterface DataSource

[2019-11-26 07:56] whiskeysierra commented on #59
I'd say `unwrap` is good enough. No need for a getter.

[2019-11-26 08:00] whiskeysierra opened #62 "Throwing SQLException in QueryExecutionListener"
The methods in `QueryExecutionListener` don't allow to throw `SQLException` right now. Unfortunately almost all methods in the `Statement` (as part of `ExecutionInfo`) declare to throw `SQLException` when being invoked.

From what I can tell it should be safe to allow `SQLException` to be thrown there since all methods in `Statement` and `PreparedStatement` that invoke the listener allow to throw

[2019-11-27 23:15] ttddyy commented on #62
hm, what is the use case for throwing such exception or invoking statement in query listener?
If you happen to perform some operations on statement in listener, I think it's better to handle  exceptions there? Otherwise, it may be confusing whether an exception is coming from the original invocation vs the one from listener.

[2019-11-27 23:42] ttddyy commented on #61
Usually, you will wrap the target datasource.
So, you can wrap the `PoolDataSource` instance with datasource-proxy.

Allowing to specify custom interface is an interesting idea, but there are problems such as having same method name. Anyway, you can unwrap to get the actual target datasource; so, I don't think you need to cast to the target type datasource.

Currently, `ProxyDataSource` is a concr

[2019-11-27 23:42] #61 closed

[2019-11-28 07:04] whiskeysierra commented on #62
I want to get some metadata from the statement (via connection and then
metadata) but all methods in JDBC throw SQLException.

Other than swallowing, how else could I possibly handle those exceptions?
If it's not intended to call anything on the statement, why is it passed to
the listener then?

On Thu, 28 Nov 2019, 00:15 Tadaya Tsuyukubo, <notifications@github.com>
wrote:

[2019-12-18 11:53] laksharm-gs commented on #61
If I unwrap to get the original object will the logging work? because its setup on proxy object.

[2019-12-18 12:13] laksharm-gs opened #63 "Related to my earlier query about proxy being able to implement other interfaces"
One question is if we unwrap the proxy to get the target datasource will logging still work? because we will be using target object further to create connection, execute query etc.

We also have several other cases like OracleCallableStatement/OraclePreparedStatement interfaces etc which when casted to will throws similar errors. Is there a way to get target statement object with ttddyy impl?

[2019-12-20 02:00] ttddyy commented on #63
No, original datasource is not a proxy, so logging would not work. Also, the retrieved `Connection`/`Statement`/etc will not be proxied since it is an original datasource.
You need to use proxy datasource in order to get proxy connection, statement, etc.

All proxied objects implement `ProxyJdbcObject` interface that has a method to return corresponding original object.

[2020-01-13 22:06] gavlyukovskiy opened #64 "Use unique connectionIds in DefaultConnectionIdManager"
Hi,

I'm working on issue https://github.com/gavlyukovskiy/spring-boot-data-source-decorator/issues/41 where two different `DataSource` instances has generated the same `connectionId`. First thing I thought to use `connectionId` with some per data source unique string like `dataSourceName`, but it would be useful in general to generate JVM unique values.

Also I found that r2dbc-proxy has switched

[2020-01-15 01:56] ttddyy commented on #64
Hi @gavlyukovskiy,

For `r2dbc-proxy`, it is still unique per datasource since `idCount` is instance variable.
But I understand the needs for globally unique id.(simply id-counter to be `static`).

I can add such implementation in addition to the default one.

For now, you can specify something like following custom connection manager on builder.

[code]

I'll find a time to polish and add.

[2020-01-15 11:23] gavlyukovskiy commented on #64
oh, yes. I saw static AtomicLong... and didn't notice it was updater to update instance variable :)

I think it still make sense to leave `openIds` as instance field, so each datasource maintains own set of open connections, just that connectionId itself will be unique.
And if you don't think you need it in your library I can have this implementation on my side, no problem :)

[2020-01-17 23:03] ttddyy commented on #64
Thanks for the tip for `openIds`.  Yeah, having it in instance field makes sense.
I think I'll put `GlobalConnectionIdManager` to datasource-proxy.
Let me try to do it in next week, and cut a release.

[2020-01-22 19:40] #64 closed

[2020-01-22 23:06] ttddyy commented on #64
@gavlyukovskiy released datasource-proxy `1.6` which includes `GlobalConnectionIdManager`. available in maven central.

[2020-02-26 11:48] simplicii opened #65 "Params:[java.io.StringReader@2a6c2828)]"
Hi,

in my Logs I see  Params:[(ava.io.StringReader@2a6c2828)]
Can you please add support to serialize java.io.StringReader?

[2020-04-10 23:52] ttddyy commented on #55
After long overdue, finally, I spent time on this:

- Created [ttddyy/datasource-proxy-tests-java6](https://github.com/ttddyy/datasource-proxy-tests-java6) repository to run some tests with java6
- Hookup travis and github action to link projects to trigger the test
- Merging the branch to master

[2020-04-11 00:03] #55 closed

[2020-05-12 03:21] paulosalgado opened #67 "Change parameters value"
Hi guys!

I'm currently studying to develop a mechanism that, given a query, it'll be able to change the query (prepared statement) and some parameter values before it hits the database.

Looking in "datasource-proxy" (awesome project, by the way) I was able to understand how the QueryTransformer works and how I'll be able to change the query, however, I quite didn't understand how the ParameterTr

[2020-10-07 08:27] ethlo opened #69 "Connection pool timeout when using proxy datasource"
Hi!

I really liked the ability for callbacks for logging SQL queries and associated performance, however, I ran into a problem when I started to load-test the system with this enabled.

[code]

It seems that connections are not returned to the pool (Hikari) properly. If I disable the data source proxy it works fine, so very easy to reproduce in our project, but not something I can share. Would ap

[2020-10-08 00:28] ttddyy commented on #69
Thanks @ethlo

What is the order of proxying?
"Application -> datasource-proxy -> Hikari -> actual datasource" ?

The `HikariDataSource` implements `Closeable`, so when `ProxyDataSource#close` is called, `HikariDataSource#close` should be called.

If the order of proxying is "Application -> Hikari -> datasource-proxy -> actual datasource", then most likely close method on `ProxyDataSource` won't b

[2020-10-08 08:03] ethlo commented on #69
Thank you, I will look into it.
"Application -> datasource-proxy -> Hikari -> MySql"  is what is configured, but as it is in a rather large spring boot app, there might be some other proxy magic at play.

[2020-10-08 18:57] ttddyy commented on #69
Sounds good.

You can try adhoc override of `close()` method for debugging like this:

[code]

Another possibility I can think of is somewhere might be checking the instance/existence of `HikariDataSource`, and based on the actual DataSource type, it may change the behavior. (e.g.: autoconfig)

[2020-10-08 18:58] #69 closed

[2020-10-11 16:02] ethlo commented on #69
Ok, so I have done some investigation, and it seems that the DataSource (really Hikari connection pool when not proxied) properties are set after it is first created by me. However, if it is wrapped/proxied, these properties are never set (as it is not a HikariCP instance), and it runs with default 10 max connections, which was too little for the load test with 20 threads.

[2020-10-12 21:31] ttddyy commented on #69
Haha, thanks for confirming. Sounds good.

For example, if it is a spring-boot application, one solution is to use `BeanPostProcessor` to wrap the datasource after spring-boot applies datasource configuration to the underlying actual datasource.

[code]

[2020-10-20 09:10] muradm commented on #65
Having same issue with binary data. Log prints `Params:[([B@4119c2b1)]`, which is binary encoded UUID. Would be nice to have some kind of custom type mapper in loggers. However they will need detailed access to query in order to understand the type. Another way could be declarative, like pattern matching query and param position, then providing custom type mapper for such combination.

[2020-10-21 13:26] s-stefanov opened #71 "Spring Transaction manager is not rolling back correctly"
Hello. I have Proxy configuration as follows:

[code]

If I use the `DataSource` to initialise the `TransactionManager` directly without proxy, transactions are rolled back correctly.

[2020-10-21 21:00] ttddyy commented on #71
This is rather how spring framework tx management works.

When `TxSynchronizationManager` gets a `Connection`, it uses `DataSource` as its key.
When `JdbcTemplate` acquires a connection from synchronized resource, it uses proxy `DataSource` as its resource key. On the other hand, when transaction manager acquires a connection it uses raw `DataSource` as a key. Therefore, when  rollback is performe

[2020-10-21 21:00] #71 closed

[2020-10-22 06:09] ttddyy commented on #65
Hi,

By default, query logging listener just uses `toString()` to write out each parameter. (`DefaultQueryLogEntryCreator#writeParamsEntry`)

The simplest way to achieve custom output for specific types is to write a custom `QueryLogEntryCreator`.
The default implementation of `QueryLogEntryCreator` is `DefaultQueryLogEntryCreator` and each method is pretty much extendable.

So, the custom `QueryL

[2020-10-22 06:09] #65 closed

[2021-07-07 23:27] abedwardsw opened #73 "ability to intercept/modify db operation"
Hi, is there any possibility to use the  QueryExecutionListener (or new listener type) to be able to execute a trivial sql statement before every actual sql statement.   for my use case I need to set a couple database session variables before every sql statement.  I haven't found a framework that makes this easy.   Is this something your framework could support?

[2021-10-22 13:32] marschall opened #76 "Recursive CTE not recognized as SELECT"
Recursive CTE are categoried as `QueryType.OTHER` instead of `QueryType.SELECT` by `QueryUtils`. Reproducer

[code]

[2022-04-30 14:01] anishb266 opened #80 "Datasource-proxy is not returning resultset."
I was following the spring boot autoconfiguration example.

I created a configuration something like this :

[code]

But when I debugged, the generatedKeys are always null. I need to extract the resultset of the query execution and show it in the logs. Please help @ttddyy.

[2022-04-30 14:42] #59 closed

[2022-04-30 16:55] #80 closed

[2022-04-30 16:56] anishb266 commented on #80
I was able to do with only proxyResultSet. Closing this issue.

[2022-05-18 21:39] #63 closed

[2022-05-18 21:39] ttddyy opened #81 "Add a method to retrieve original DataSource in ProxyDataSource"
`ProxyDataSource` class needs a method to expose the original `DataSource` object.

[2022-05-19 06:02] #81 closed

[2022-05-21 14:04] ttddyy opened #82 "Support "isWrapperFor" and "unwrap" for "ProxyDataSource" itself"
Currently, these assertions fail:

[code]

`isWrapperFor` and `unwrap` need to work when `ProxyDataSource` itself is passed.

[2022-05-21 14:22] #82 closed

[2022-06-07 06:26] ttddyy opened #83 "Publish documentation via github action"

[2022-06-08 17:19] #83 closed

[2022-06-08 17:47] ttddyy opened #84 "Remove TravisCI configurations"

[2022-07-04 13:21] jochenberger opened #85 "Record number of result set rows in `DataSourceQueryCountListener`"
I'd like to test the number of returned rows from some JPA select queries. Would it be possible to add that to net.ttddyy.dsproxy.QueryCount?

[2022-09-29 17:07] ttddyy opened #86 "Make "AbstractQueryLogEntryCreator#chompIfEndWith" defensive for empty string"
When `AbstractQueryLogEntryCreator#chompIfEndWith()` received an empty string, this should not throw  `StringIndexOutOfBoundsException`.

See details on https://github.com/jdbc-observations/datasource-micrometer/issues/7

[2022-09-30 00:45] #86 closed